<ion-view title="Edit Device">
    <ion-content>
        <form class="list" ng-submit="vm.edit()">
            
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="vm.name">
            </label>

            <label class="item item-input">
                <span class="input-label">ID</span>
                <input type="text" placeholder="ID" value="{{vm.deviceid}}">
            </label>
            <label class="item item-select">
                <span class="item-label">Status</span>
                <select class="item-select" style="background-color: {{vm.color}} !important" ng-model="vm.selector" ng-change="vm.changeColor()" >
                    <option>none</option>
                    <option>green</option>
                    <option>yellow</option>
                    <option>blue</option>
                    <option>red</option>
                </select>
            </label>


            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea placeholder="Description" class="big-area" ng-model="vm.description"></textarea>
            </label>
            <button class="button button-outline button-dark button-full" type="submit">Edit</button>
        </form>
    </ion-content>

    <ion-footer class="dark-tabs tabs tabs-secondary tabs-icon-top hide-on-keyboard-open">
        <a class="tab-item" ng-click="vm.goHome()">
            <i class="icon ion-home"></i>Home
        </a>
    </ion-footer>

</ion-view>