<ion-view title="Edit Device">
    <ion-content>
        <form class="list list-inset" ng-submit="vm.edit()">

            <div class="item item-input-inset">
                <span class="input-label">Name</span>
                <label class="item-input-wrapper">                
                <input type="text" placeholder="Name" ng-model="vm.name" ng-change="vm.clear()">
            </label>
            </div>
            <p class="warning" ng-show="vm.nameerror">{{vm.nameerror}}</p>

            <div class="item item-input-inset">
                <span class="input-label">Code</span>
                <label class="item-input-wrapper">                
                <input type="text" placeholder="Code" ng-model="vm.device.code" ng-change="vm.clear()">
            </label>
            </div>
            <p class="warning" ng-show="vm.codeerror">{{vm.codeerror}}</p>

            <div class="item item-input-inset">
                <span class="input-label">Location</span>
                <label class="item-input-wrapper">
                   <input name="location" type="text" ng-model="vm.device.location" ng-change="vm.checkIfEmpty()">
                </label>
            </div>
            <p align="center" class="item" ng-repeat="location in vm.locations | filter: vm.device.location" style="line-height: 5px !important"
                ng-click="vm.complete(location)" ng-hide="vm.locationHide">{{location}}</p>

            <label class="item item-input-inset">
                <span class="input-label">Description</span>
                <textarea placeholder="Description" class="big-area" ng-model="vm.description"></textarea>
            </label>
            <button class="button button-balanced balanced-border button-block" type="submit">Submit</button>
        </form>
    </ion-content>

    <ion-footer class="dark-tabs tabs tabs-secondary tabs-icon-top hide-on-keyboard-open">
        <a class="tab-item" ng-click="vm.goHome()">
            <i class="icon ion-home"></i>Home
        </a>
    </ion-footer>

</ion-view>