<ion-view view-title="{{vm.device.name}}">
    <!--<ion-nav-title class="logo"><img src="img/sncn_logo.png" height="50" width="185" /></ion-nav-title>-->

    <ion-content class="has-footer has-header">
        <div class="list card small-margin ">
            <div class="item less-padding device-card">
                <div class="row">
                    <div class="col col-90">
                        <h2>Name: {{vm.device.name}}</h2>
                        <h2>ID: {{vm.device.id}} </h2>
                    </div>
                    <div class="col" align="right"><i class="col col-33 icon ion-record {{vm.device.status}}-status"></i></div>

                </div>
            </div>
            <div class="item item-body less-padding device-card">
                <p>{{vm.device.description}}</p>
            </div>
        </div>

        <div align="center" class="item item-divider dark-tabs"> CHANGES </div>

        <div class="list card small-margin" ng-repeat="change in vm.device.changes | orderBy : '-date'">
            <div class="item item-divider less-padding sidepad0">
                <div class="row">
                    <div align="left" class="col col-30">
                        {{change.date | date : "d MMM yyyy"}}
                    </div>
                    <div align="center" class="col col-50">
                        {{change.author}}
                    </div>
                    <i class="col col-5 icon ion-record {{change.status}}-status" align="right"></i>
                    <button ng-click="vm.toEdit()" class="right actbutton button-icon ion-edit dark larger"></button>
                </div>
            </div>
            <div class="item item-text-wrap less-padding">
                    {{change.message}}
                   <!-- <div class="right"><a ng-click="vm.toEdit()" class="button button-icon ion-edit dark"></a></div>-->
            </div>
        </div>

    </ion-content>

    <ion-footer class="tabs tabs-secondary tabs-icon-top dark-tabs">

        <a class="tab-item" ng-click="vm.goHome()">
            <i class="icon ion-home"></i>Home
        </a>
        <a class="tab-item" href="#/app/device/edit">
            <i class="icon ion-edit"></i>Edit
        </a>
        <a class="tab-item" href="#/app/device/change/new">
            <i class="icon ion-wrench"></i>Add change
        </a>

    </ion-footer>
</ion-view>